<footer class="footer">

<div class="footer-top">
  <div class="footer-follow">
    <h4>Follow Us</h4>
    <div class="social-icons">

    <%= link_to image_tag("fb.png"), "https://facebook.com" %>
    <%= link_to image_tag("x.png"), "https://x.com" %>
    <%= link_to image_tag("insta.png"), "https://instagram.com" %>
    
    </div>
  </div>

  <div class="footer-subscribe">
    <h4>Subscribe</h4>
    <form>
      <input type="email" placeholder="Enter your email Address" class="subscribe-input" />
      <button type="submit" class="subscribe-button">Subscribe</button>
    </form>
  </div>
</div>

<div class="footer-bottom">
  <p>&copy; 2024 All Rights Reserved</p>
</div>
</footer>
