<h1>Bienvenue sur Chaton Stash</h1>

<h2>Photos de Chatons</h2>

<% @items.each do |item| %>
  <div>
    <h2><%= item.name %></h2>
    <p><%= item.description %></p>
    <p>Prix : <%= number_to_currency(item.price) %></p>
    <p>Stock : <%= item.stock %> Disponible </p>
  </div>
<% end %>
