@import "~bootstrap/scss/bootstrap";



body {
  background-color: #FAEAE6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; 

main {
  flex: 1; 
}

.flash-messages {
  margin: 0px 0;
  padding: 0px;
  text-align: center;
}

.flash-message {
  padding: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.flash-message.notice {
  background-color: #d4edda;
  color: #155724;
}

.flash-message.alert {
  background-color: #f8d7da;
  color: #721c24;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white; 
  border-radius: 15px;
  font-family: Arial, sans-serif;
  margin: 20px 20px 20px 20px;
  box-shadow:  0px 0px 0.8em 0.3em grey;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

 .button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #79A3B7;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #0056b3;
}

.button-link:active {
  background-color: #003f7f;
}

.footer {
  background-color: #F6DAD2; 
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
  margin-top: 15px ;
  
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}


.footer-follow h4 {
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.social-icons  {
  margin-right: 15px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  padding-left: 15px;
}

.social-icons a:hover {
  color: #8aa7b3; 
}

.footer-subscribe h4 {
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.subscribe-input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  width: 200px;
}

.subscribe-button {
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  background-color: #8aa7b3; 
  color: white;
  cursor: pointer;
  margin-right: 25px;
}

.subscribe-button:hover {
  background-color: #6c8c99; 
}

.footer-bottom {
  text-align: center;
  padding: 1px 0;
  background-color: #8aa7b3; 
  color: white;
  font-size: 8px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-links li a:hover {
  text-decoration: underline;
}